@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar for light mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 9999px;
}

/* Scrollbar for dark mode */
.dark ::-webkit-scrollbar-track {
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: #d6d4d4;
}

.dark ::-webkit-scrollbar-corner {
  background: transparent;
}
